.all-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slate-body {
    background-color: red;
    padding: 30px;
    border-radius: 45px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.slate-title {
    color: white;
    font-size: xx-large;
    text-align: center;
}

.screen {
    background-color: white;
    /* padding: 300px 500px; */
    border-radius: 5px;
    margin: 30px;

    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.cell {
    padding: 2.5px;
    border: 1px solid wheat;
}

